@charset "UTF-8";

body {
    color: #242424;
    font-size: 14pt;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    background-size: cover;
    background-image: url(../images/pink.jpeg);
    background-color: #FFFFFF;
  }

#container {
	
	width: 1280px;
	height: auto;
	background-color: rgba(255,255,255,1.00);
	margin: auto;
}

/*Float the Aside so it displays next to Main.*/
aside {
    width: 150px;
    height: 1640px;
    background-color: #AD84BA;
    float: left;
}
header {
    width: 1280px;
    height: 250px;
    background-image: url(../images/jmp_header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
}

/*Float the Main so it shows up next to the Aside. Reduce width by 150px so they both line the header.*/
main {
    width: 1090px;
    height: 1600px;
    background-color: white;
    float: left;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

h1 {
    font-family: "politica", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24pt;
    color: #E83C95
}

p{
	font-family: "canada-type-gibson", sans-serif;
	font-weight: 400;
	font-style: normal;	
}
h3 {
    font-size: 12pt;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: #FFFEFE;
}

/*Clear the float so the footer shows up in the right place again.*/
footer {
    width: 1280px;
    height: 50px;
    background-color: #99C6E8;
    float: left;
    clear: both;
}
img {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.floatleft {
	float: left;
}

article   {
    margin-bottom: 50px;
}
nav {
    width: 1280px;
    height: 53px;
    position: fixed;
    top: 0px;
    background-color: #FFFFFF;
}
#container nav li {
    display: block;
    float: left;
    width: 80px;
    margin: 0px 60px 0px 0px;
	font-family: neonoir, sans-serif;
	font-size: 18pt
}
#container nav ul {
    margin: auto;
    width: 565px;
}

nav a:link {
    color: #E8A2C7;
    text-decoration: none;
	padding: 10px;
}
nav a:visited {
    text-decoration: none;
    color: #AD85BA
}
nav a:hover {
    text-decoration: none;
    color: #FFFFFF;
	background-color: #E53D95;
	padding: 10px;
	border-radius: 20px;
}
nav a:active {
    text-decoration: none;
    color: #191919;
}

.submit_btn {
    width: 170px;
    height: 30px;
    background-color: #6BE7FF;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 16px;
}

.submit_btn:hover {
	-webkit-box-shadow: 6px 6px 35px 1px #000000;
    box-shadow: 6px 6px 35px 1px #000000;
}
.column {
    width: 250px;
    height: 750px;
    float: left;
    margin-left: 60px;
    margin-right: 20px;
}
video {
    width: 600px;
    margin: auto;
    height: 600px;
}



@media (max-width: 1024px){
	#container {
		width: 768px;
	}
	
	header {
	width: 768px;
	}
	
	nav {
		width: 768px;
	}
	
	main {
    width: 578px;	
	height: 2400px
	}
	
	footer {
		width: 768px;
	}
	
	.column {
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
	}
	
	aside {
		height: 2440px;
	}
}

/*Rules the page will follow on mobile devices*/
@media only screen and (max-width:375px){
	#container {
		width: 300px;
	}
	
	header {
	width: 300px;
		background-image: url("../images/jmp_header_300px.jpg");
	}
	
	nav {
		width: 300px;
		height: 150px;
		position: static;
	}
	
	main {
    width: 260px;		
	}
	
	footer {
		width: 300px;
	}
	
	aside {
		display: none;
	}
	
	#container nav li {
    display: list-item;
	list-style-type: none;
    float: none;
    margin: 0px 0px 20px 0px;
	width: 240px; 
	text-align: center;
	}

}
